[Unit]
Description=Lamy Pen Button as Eraser
After=home.mount

[Service]
ExecStart=/usr/sbin/RemarkableLamyEraser
Restart=on-failure

[Install]
WantedBy=multi-user.target
